<html>
  <body>
    <h1>Tictactoe</h1>
    <h2>Have fun!</h2>
    <form method="post">
      <table border = '1'>
        <tbody>
          <!--was schreiben wir hier???? es ist immer noch nicht optimal! denkt mal drüber nach! vllt mit einem submit button-->
          <% field.each_with_index do |row, row_index| %>
          <tr>
            <% row.each_with_index do |cell, column_index| %>
              <td>
                <input type="submit" name=<%= "turn_" + row_index.to_s + column_index.to_s %> value=<%= cell %> >
                </input>
                <input type="hidden" id=<%= "before_" + row_index.to_s + column_index.to_s %> name=<%= "before_" + row_index.to_s + column_index.to_s %> value=<%= cell %> >
                  </input>
              </td>
            <% end %> 
          </tr>
          <% end %> 
        </tbody>
      </table>
    </form>
  </body>
</html>
